body{
    margin: 0;
    padding: 0;
}

header{
    height: 100px;
    border-color: black;
    
}

nav{
    text-align: right;
    position: sticky;
    overflow: auto;
    padding: 5px;
    margin-right: 160px;
}

nav li{
    display: inline;
    list-style-type: none;
    margin: 10px;
}

nav img{
    float: left;
    margin-left: 160px;
}

li img{
    height: 30px;
    width: 30px;
}

#container{
    height: 566px;
    width: 484px;
    margin-left: 405px;
}

#container h1{
    text-align: center;
    margin: 0px;
}

.content{
    height: 79px;
    width: 484px;
    margin-top: 20px;
}

.form p{
    width: 475px;
    padding: 0;
    margin-bottom: 10px;
}

label{
    margin: 0;
    padding: 0;
}

input{
    width: 475px;
    height: 50px;
    margin: 0;
}

#alamat{
    height: 103px;
}

#button{
    word-spacing: 12px;
}

#btnBarang{
    margin-left: 0px;
    height: 45px;
    width: 150px;
    background-color: #ffff;
    border-color: #84B67C;
}

#btnEdit{
    height: 45px;
    width: 150px;
    background-color: #ffff;
    border-color: #84B67C;
}

#btnConfirm{
    height: 45px;
    width: 150px;
    background-color: #ffff;
    border-color: #84B67C;
}

#cart{
  position: fixed;
  right: 50px;
  bottom: 50px;
}

